<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a routerLink="dashboard" class="navbar-brand"> Smart School </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="alunos" class="nav-link">Alunos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="professores" class="nav-link">Professores</a>
        </li>
      </ul>
      <ul class="navbar-nav" dropdown>
        <li class="nav-item dropdown">
          <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
            style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vinícius
          </a>
          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a routerLink="perfil" class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
